<script type="text/javascript"> 
if(window.jQuery==undefined) { 
document.write('<script src="[[++assets_url]]components/importms/js/jquery-1.10.1.min.js"><\/script>')
} 
</script> 

<script type="text/javascript">
if (jQuery.fancybox==undefined){
document.write('<script src="[[++assets_url]]components/importms/js/jquery.fancybox.js?v=2.1.5"><\/script>')
}
</script>

<link rel="stylesheet" href="[[++assets_url]]components/importms/css/jquery.fancybox.css?v=2.1.5 media='screen'">
<script type="text/javascript" src="[[++assets_url]]components/importms/js/script.js"></script>
<link rel="stylesheet" href="[[++assets_url]]components/importms/css/loaderproducts.css">