

.background { background-color: #c0c0c0; padding: 0; color: #335500; }

.form{
  width:620px;
  height: auto;
  }

.wrapper{
  overflow: hidden;
  padding:5px 0
} 


#inline { display: none; }

.txt {
  display: inline-block;
  color: #676767;
  height: 50px;
  width: 600px;
  font-family: Arial, Tahoma, sans-serif;
  margin-bottom: 10px;
  border: 1px dotted #ccc;
  padding: 5px 9px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.msg {
  display: block;
  height:200px; /* высота нашего блока */
  width: 600px;
  background: #fff; /*#fff цвет фона, белый */
  border: 1px solid #C1C1C1; /* размер и цвет границы блока */
  overflow-x: scroll; /* прокрутка по горизонтали */
  overflow-y: scroll; /* прокрутка по вертикали */
  line-height:20px;
}

.txt:focus,
.txtarea:focus {
  border-style: solid;
  border-color: #bababa;
  color: #444;
}

input.error,
textarea.error {
  border-color: #973d3d;
  border-style: solid;
  background: #f0bebe;
  color: #a35959;
}

input.error:focus,
textarea.error:focus {
  border-color: #973d3d;
  color: #a35959;
}

#send {
  color: #dee5f0;
  display: block;
  cursor: pointer;
  padding: 5px 11px;
  font-size: 1.2em;
  border: solid 1px #224983;
  border-radius: 5px;
  background: #1e4c99;
    background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d));
       background: -moz-linear-gradient(top, #2f52b7, #0e3a7d);
          background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
             background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
                background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
                   background: linear-gradient(top, #2f52b7, #0e3a7d);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d');
  }

#send:hover {
  background: #183d80;
    background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b));
       background: -moz-linear-gradient(top,  #284f9d, #0c2b6b);
          background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
             background: -o-linear-gradient(top, #284f9d, #0c2b6b);
                background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
                   background: linear-gradient(top, #284f9d, #0c2b6b);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
  }

#send:active {
  color: #8c9dc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7));
       background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
          background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
             background: -o-linear-gradient(top, #0e387d, #2f55b7);
                background: -ms-linear-gradient(top, #0e387d, #2f55b7);
                   background: linear-gradient(top, #0e387d, #2f55b7);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
  }

